<a href="https://colab.research.google.com/github/Dori303/Dogyu-s_AI_programming/blob/main/%EC%98%81%ED%99%94%EA%B4%80%EA%B0%9D%EC%88%98%EC%98%88%EC%B8%A1_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
import warnings
warnings.filterwarnings('ignore')

In [2]:
# 파일 불러오기
train = pd.read_csv("/content/movies_train.csv")
test = pd.read_csv("/content/movies_test.csv")
submission = pd.read_csv("/content/submission.csv")

In [4]:
# 파일 확인
train.head()

       title   distributor genre  ... num_staff  num_actor box_off_num
0     개들의 전쟁      롯데엔터테인먼트    액션  ...        91          2       23398
1       내부자들        (주)쇼박스   느와르  ...       387          3     7072501
2  은밀하게 위대하게        (주)쇼박스    액션  ...       343          4     6959083
3   나는 공무원이다        (주)NEW   코미디  ...        20          6      217866
4       불량남녀  쇼박스(주)미디어플렉스   코미디  ...       251          2      483387

[5 rows x 12 columns]

In [5]:
test.head()

         title distributor   genre  ... dir_prev_num  num_staff num_actor
0       용서는 없다      시네마서비스     느와르  ...            2        304         3
1  아빠가 여자를 좋아해      (주)쇼박스  멜로/로맨스  ...            4        275         3
2          하모니   CJ 엔터테인먼트     드라마  ...            3        419         7
3          의형제      (주)쇼박스      액션  ...            2        408         2
4        평행 이론   CJ 엔터테인먼트      공포  ...            1        380         1

[5 rows x 11 columns]

In [6]:
submission.head()

         title  box_off_num
0       용서는 없다            0
1  아빠가 여자를 좋아해            0
2          하모니            0
3          의형제            0
4        평행 이론            0

In [10]:
# 배급사 전처리 ① 문자 "(주)" 삭제 
train['distributor'] = train.distributor.str.replace("(주)", '')
test['distributor'] = test.distributor.str.replace("(주)", '')

In [12]:
# 배급사 전처리 ② 자연어를 제외한 문자 삭제
train['distributor'] = [re.sub(r'[^0-9a-zA-Z가-힣]', '', x) for x in train.distributor]
test['distributor'] = [re.sub(r'[^0-9a-zA-Z가-힣]', '', x) for x in test.distributor]

In [13]:
# 배급사 전처리 ③ 회사명
def get_dis(x) :
    if 'CJ' in x or 'CGV' in x :
        return 'CJ'
    elif '쇼박스' in x :
        return '쇼박스'
    elif 'SK' in x :
        return 'SK'
    elif '리틀빅픽' in x :
        return '리틀빅픽처스'
    elif '스폰지' in x :
        return '스폰지'
    elif '싸이더스' in x :
        return '싸이더스'
    elif '에이원' in x :
        return '에이원'
    elif '마인스' in x :
        return '마인스'
    elif '마운틴픽' in x :
        return '마운틴픽처스'
    elif '디씨드' in x :
        return '디씨드'
    elif '드림팩트' in x :
        return '드림팩트'
    elif '메가박스' in x :
        return '메가박스'
    elif '마운틴' in x :
        return '마운틴'
    else :
        return x

In [14]:
train['distributor'] = train.distributor.apply(get_dis)
test['distributor'] = test.distributor.apply(get_dis)

In [15]:
# 장르별 영화 관객수를 평균으로 나타내기
train.groupby('genre').box_off_num.mean().sort_values()

genre
뮤지컬       6.627000e+03
다큐멘터리     6.717226e+04
서스펜스      8.261100e+04
애니메이션     1.819267e+05
멜로/로맨스    4.259680e+05
미스터리      5.275482e+05
공포        5.908325e+05
드라마       6.256898e+05
코미디       1.193914e+06
SF        1.788346e+06
액션        2.203974e+06
느와르       2.263695e+06
Name: box_off_num, dtype: float64

In [23]:
# 평균 관객수의 랭킹순위 매긴후 그것을 'genre_rank'열에 표기함.
train['genre_rank'] = train.genre.map({'뮤지컬' : 1, '다큐멘터리' : 2, '서스펜스' : 3, '애니메이션' : 4, '멜로/로맨스' : 5,
                                      '미스터리' : 6, '공포' : 7, '드라마' : 8, '코미디' : 9, 'SF' : 10, '액션' : 11, '느와르' : 12})
test['genre_rank'] = test.genre.map({'뮤지컬' : 1, '다큐멘터리' : 2, '서스펜스' : 3, '애니메이션' : 4, '멜로/로맨스' : 5,
                                      '미스터리' : 6, '공포' : 7, '드라마' : 8, '코미디' : 9, 'SF' : 10, '액션' : 11, '느와르' : 12})

In [17]:
# 배급사별 영화 관객수 중위값 기준으로 배급사 랭크 인코딩
tr_nm_rank = train.groupby('distributor').box_off_num.median().reset_index(name = 'num_rank').sort_values(by = 'num_rank')
tr_nm_rank

    distributor   num_rank
110  인피니티엔터테인먼트        2.0
15       고구마공작소        8.0
52       사람과사람들       42.0
97        위드시네마       46.0
19        나우콘텐츠       54.0
..          ...        ...
113     전망좋은영화사  1214237.0
105   이십세기폭스코리아  1422844.0
56          쇼박스  2138560.0
84       영구아트무비  2541603.0
75    아이필름코퍼레이션  3117859.0

[147 rows x 2 columns]

In [18]:
tr_nm_rank['num_rank'] = [i + 1 for i in range(tr_nm_rank.shape[0])]
tr_nm_rank

    distributor  num_rank
110  인피니티엔터테인먼트         1
15       고구마공작소         2
52       사람과사람들         3
97        위드시네마         4
19        나우콘텐츠         5
..          ...       ...
113     전망좋은영화사       143
105   이십세기폭스코리아       144
56          쇼박스       145
84       영구아트무비       146
75    아이필름코퍼레이션       147

[147 rows x 2 columns]

In [24]:
train = pd.merge(train, tr_nm_rank, how = 'left')
test = pd.merge(test, tr_nm_rank, how = 'left')
test.fillna(0, inplace = True)
train.head()
# 이렇게해서 배급사별 관객수가 많을수록 num_rank의 값을 크게 설정하였다.

       title distributor genre  ... box_off_num  genre_rank num_rank
0     개들의 전쟁    롯데엔터테인먼트    액션  ...       23398          11      134
1       내부자들         쇼박스   느와르  ...     7072501          12      145
2  은밀하게 위대하게         쇼박스    액션  ...     6959083          11      145
3   나는 공무원이다         NEW   코미디  ...      217866           9      140
4       불량남녀         쇼박스   코미디  ...      483387           9      145

[5 rows x 14 columns]